@import url('https://fonts.googleapis.com/css?family=Ubuntu');
canvas{
  background: black;
  margin: auto;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
#pontuacao{
  position: relative; top: 0px;
  color: white;
  z-index: 50;
  text-align: right;
  font-family: 'Ubuntu';
  font-size: 24px;
}
