@import url('https://fonts.googleapis.com/css?family=Ubuntu');
canvas{
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
}
#pontuacao , #screen{
  position: relative;
  top: 0;
  color: white;
  z-index: 50;
  float:left;
  text-align: left;
  font-family: 'Ubuntu';
  font-size: 100%;
}
#screen{
	margin: 0;
	border: 1px solid white;
	border-radius:50%;
    background-color: black;
    color: white;
	float:right;
	opacity: 0.5;
}
#loja{
  position: absolute;
  right: 0;
  top: 0;
  border:15px solid rgba(245,98,98, 1);
  background-color: rgba(255,140,140, 0.7);
}
html{
  font-family: 'Ubuntu';
  text-align: center;
}
h1{
  font-size: 220%;
  color: white;
  text-shadow: 2px 2px #000;
}
h2{
  color: darkgreen;
}
#cobra{
  margin-bottom: 5%;
}
h3{
  padding-bottom: 0em;
}
.hacks{
  padding-top: 1em;
  bottom: 2em;
  top: 20%;
  display: flex;
  margin: auto 25%;
  justify-content: center;
}
.hacks>button{
  margin-left: 0.3em;
}
p{
  display: inline;
}
button{
  border: 1px solid black;
  border-radius: 2px;
  padding: 3px;
  margin: 0.1em;
  cursor: pointer;
  background-color:white;
}
audio{
  display: block;
  max-width: 200px;
  margin: auto;
  position: absolute;
  bottom: 0;
}
